@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rubik-mono-one), Arial, sans-serif;
}

@layer utilities {
  .font-rubik-mono-one {
    font-family: var(--font-rubik-mono-one), Arial, sans-serif;
  }
  .font-caveat-regular {
    font-family: var(--font-caveat-regular), Arial, sans-serif;
  }
  .font-shantell-sans-regular {
    font-family: var(--font-shantell-sans-regular), Arial, sans-serif;
  }
  .text-balance {
    text-wrap: balance;
  }
}
